@model Moment2_statisk_till_mvc.Models.ViewModel
@{
    ViewData["Title"] = "Filmlista";
}

<h2>Filmlista</h2>

<h3><b>Filmlistan genom: ViewData</b></h3>

@{
    IEnumerable<Moment2_statisk_till_mvc.Models.Movies> filmer = (IEnumerable<Moment2_statisk_till_mvc.Models.Movies>)ViewData["filmer_i_lista"];
}


<table>
    <tr>
        <th>Titel</th>
        <th>Kategori</th>
        <th>Speltid</th>
    </tr>
    @foreach (Moment2_statisk_till_mvc.Models.Movies film in filmer)
    {
        <tr>
            <td>@film.Titel</td>
            <td>@film.Kategori</td>
            <td>@film.Speltid</td>
        </tr>
    }
</table>

<h3><b>Filmlistan genom: ViewBag</b></h3>

@{
    IEnumerable<Moment2_statisk_till_mvc.Models.Movies> filmer2 = (IEnumerable<Moment2_statisk_till_mvc.Models.Movies>)ViewBag.filmer;
}

<table>
    <tr>
        <th>Titel</th>
        <th>Kategori</th>
        <th>Speltid</th>
    </tr>
    @foreach (Moment2_statisk_till_mvc.Models.Movies film in filmer2)
    {
        <tr>
            <td>@film.Titel</td>
            <td>@film.Kategori</td>
            <td>@film.Speltid</td>
        </tr>
    }
</table>

<h3><b>Filmlistan genom: ModelView</b></h3>

<table>
    <tr>
        <th>Titel</th>
        <th>Kategori</th>
        <th>Speltid</th>
    </tr>
    @foreach (Moment2_statisk_till_mvc.Models.Movies film in Model.FilmDetaljLista)
    {
        <tr>
            <td>@film.Titel</td>
            <td>@film.Kategori</td>
            <td>@film.Speltid</td>
        </tr>
    }
</table>